*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #c7ecee;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(230,104,59);
}
.title{
    color: #777;
    font-family: 'Raleway';
    font-size: 2em;
    width: 1200px;
    margin: 10px auto;
    text-align: center;
}

.Services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.card{
    height: 350px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background: #dff9fb;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0, 0.47, 1);
}
.card .icon{
    font-size: 64px;
    display: block;
    text-align: center;
    color: #7ed6df;
    margin-top: 18px;
}
.card h1{
    font-family: 'Raleway';
    text-align: center;
    color:  #22a6b3;
    font-size: 22px;
}

.card .button{
    background: #22a6b3;
    color: #c7ecee;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 15px;
    margin-top: 25px;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px;
    text-align: center;
}

.card a{
    text-decoration: none;
}

.card .content p{
    font-size: 14px;
    color: #535c68;
    line-height: 20px;
    font-family: 'century gothic';
}


.card:hover{
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    animation: rotate 0.7s ease-in-out both;
}

.card::before, 
.card::after{
    content: '';
    background: #22a6b3;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0,0,0);
    transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card:hover::before,
.card:hover::after{
    opacity: 0.15s;
}
.card:hover::before{
    transform: translate3d(50%, 0, 0) scale(0.9);
}
.card:hover::after{
    transform: translate(50%, 0) scale(1.1);
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(3deg);}
    50%{transform: rotate(-3deg);}
    75%{transform: rotate(1deg);}
    100%{transform: rotate(0deg);}
}

@media(max-width){
    .title{
        width: 100%;
    }
    .title h1{
        font-size: 20px;
    }
    .Services{
        flex-direction: column;
    }
}